<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 90%;">
    <div class="container">
        <div class="card text-center">
            <div class="card-body">
              <h1 class="card-title mt-3"><strong>!Bienvenidos a la app de Wil¡</strong></h1>
              <p class="card-text">Esta es una aplicación creada por Wil Faver, en la cual se encuentran recopilados diferentes implementaciones, 
                consumos a servicios y funcionalidades que se han ido creando en modo de aprendizaje.</p>
              <p>
                Espero que tengan una maravillosa experiencia al navegar por esta aplicación, muchas gracias.
              </p>
            </div>
        </div>
    </div>
</div>