<!-- <div class="scanner-container">
  <input type="file" (change)="onFileSelected($event)" accept="image/*">
  <div *ngIf="selectedImage">
    <img [src]="selectedImage" alt="Selected Image" width="300" height="200">
  </div>
  <p *ngIf="result">Scanned Code: {{ result }}</p>
</div> -->

<!-- <div class="scanner-container">
  <input type="file" (change)="onFileSelected($event)" accept="image/*">
  @if(selectedImage) {
    <div>
      <img [src]="selectedImage" alt="Selected Image" width="300" height="200">
    </div>
  }
  @if(result) {
    <p>Scanned Code: {{ result }}</p> 
  }
</div> -->

<!-- <div>
  <h2>QR Reader</h2>
  <input type="file" accept="image/*" (change)="onFileSelected($event)" />
  <p>{{ result }}</p>
</div> -->

<!-- <div>
  <h2>QR Scanner</h2>
  <video #video width="300" height="200"></video>
  <button (click)="capture()">Capturar Foto</button>
  <canvas #canvas width="640" height="480"></canvas>
  <button (click)="download()">Descargar Foto</button>
  <p>{{ result }}</p>
</div>

<button (click)="openExternalCamera()" class="btn btn-primary">
  Abrir camara
</button> -->
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
