<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand puntero" routerLink="/" routerLinkActive="active">App - Wil</a>
      <div id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/read-code" routerLinkActive="active">Lector de código</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listPoke" routerLinkActive="active">Lista PKM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/client-data" routerLinkActive="active">Clientes</a>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
